//Colors
@primary: #5441ff;
@primaryBG: #15022d;
@warning: #F59E0B;
@danger: #EF4444;
@success: #10B981;
//Fonts
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../font/eot/iranyekanwebbold.eot');
  src: url('../font/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('../font/eot/iranyekanwebthin.eot');
  src: url('../font/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebthin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../font/eot/iranyekanweblight.eot');
  src: url('../font/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../font/eot/iranyekanwebregular.eot');
  src: url('../font/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('../font/eot/iranyekanwebmedium.eot');
  src: url('../font/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('../font/eot/iranyekanwebextrabold.eot');
  src: url('../font/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebextrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url('../font/eot/iranyekanwebblack.eot');
  src: url('../font/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebblack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('../font/eot/iranyekanwebextrablack.eot');
  src: url('../font/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebextrablack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
//Mixins
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition (@transition: all .3s ease-out) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}
.transform (@transform) {
  transform: @transform;
  -moz-transform: @transform;
  -webkit-transform: @transform;
}
.box-shadow (@shadow) {
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}
// Utilities
.f500{font-weight: 500;}
.f600{font-weight: 600;}
.f700{font-weight: 700;}
.font{font-family: iranyekan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;}
.ltr{direction: ltr;}
.uk-border-rounded-large{
  .border-radius(15px);
}

div{
  &.alertWrapper{
    margin-bottom: 40px;
  }
  &.alert{
    h4,button{
      display: none;
    }
    text-align: center;
    font-size: 12px;
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    .font;
    &.alert-notice,
    &.alert-warning{
      background-color: @warning;
      color: #fff;
    }
    &.alert-error{
      background-color: @danger;
      color: #fff;
    }
  }
}
//UIKit Overrides
.uk-background-primary{
  background-color: @primaryBG;
}
.uk-input{
  border-color: #242424;
  + span{
    color: #707070;
  }
  &.uk-input-icon{
    padding-left: 40px;
  }
  &:focus{
    border-color: @primary;
    + span{
      color: @primary;
    }
  }
  &.invalid{
    border-color: red;
    + span{
      color: red;
    }
    &:focus{
      border-color: red;
    }
  }
}
.uk-button{
  .font;
  border: 2px solid transparent;
  &.uk-button-primary{
    background-color: @primary;
    border-color: @primary;
    &:hover{
      background-color: #0da9e3;
      border-color: #0da9e3;
    }
  }
}