//Colors
@primaryBG: #15022d;
@primary: #5441ff;
@warning: #F59E0B;
@danger: #bd3f54;
@success: #2a7753;
@blue: #02496b;
//Fonts
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../font/eot/iranyekanwebbold.eot');
  src: url('../font/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebbold.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('../font/eot/iranyekanwebthin.eot');
  src: url('../font/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebthin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebthin.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../font/eot/iranyekanweblight.eot');
  src: url('../font/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanweblight.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../font/eot/iranyekanwebregular.eot');
  src: url('../font/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebregular.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('../font/eot/iranyekanwebmedium.eot');
  src: url('../font/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebmedium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebmedium.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 700;
  src: url('../font/eot/iranyekanwebextrabold.eot');
  src: url('../font/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebextrabold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebextrabold.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('../font/eot/iranyekanwebblack.eot');
  src: url('../font/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebblack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebblack.ttf') format('truetype');
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('../font/eot/iranyekanwebextrablack.eot');
  src: url('../font/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../font/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../font/woff2/iranyekanwebextrablack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('../font/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
//Mixins
.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition (@transition: all .3s ease-out) {
  transition: @transition;
  -moz-transition: @transition;
  -webkit-transition: @transition;
}
.transform (@transform) {
  transform: @transform;
  -moz-transform: @transform;
  -webkit-transform: @transform;
}
.box-shadow (@shadow) {
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}
// Utilities
.f500{font-weight: 500;}
.f600{font-weight: 600;}
.f700{font-weight: 700;}
.font{font-family: iranyekan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;}
.ltr{direction: ltr;}
aside{
  ul{
    &.menu{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        > span,a{
          display: block;
          .font;
        }
        > span{
          color: #707070;
          font-size: 12px;
          margin-bottom: 15px;
          &:first-of-type{
            margin-top: 30px;
          }
        }
        > a{
          color: #fff;
          font-size: 14px;
          margin-bottom: 15px;
          padding-right: 40px;
          position: relative;
          text-decoration: none;
          &:before{
            content: '';
            position: absolute;
            right: 10px;
            top: 0;
            width: 24px;
            height: 24px;
            background: url("../img/arrow-left-short.svg") center center no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
}
fieldset{
  border: none;
  outline: none;
}
.authBottomLink{
  color: #222;
  text-decoration: none;
  border-bottom: 1px dashed #ccc;
  display: inline-block;
  padding-bottom: 5px;
  &:hover{
    color: #000;
    text-decoration: none;
    border-bottom-style: solid;
  }
}
div{
  &.alertWrapper{
    margin-bottom: 40px;
  }
  &.alert{
    h4,button{
      display: none;
    }
    text-align: center;
    font-size: 12px;
    padding: 15px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    .font;
    &.alert-notice,
    &.alert-warning{
      background-color: @warning;
      color: #fff;
    }
    &.alert-error{
      background-color: @danger;
      color: #fff;
    }
  }
  &.empSearchWrapper{
    border: 1px dashed #ccc;
    div{
      &.leftBordered{
        border-left: 1px dashed #ccc;
      }
      &.bottomBordered{
        border-bottom: 1px dashed #ccc;
      }
    }
  }
  &.vaptlblock0{
    background-color: @danger;
  }
  &.vaptlblock1{
    background-color: @success;
    &.vaptimeselected{
      background-color: @blue !important;
    }
  }
}
span{
  &.vap-cal-box{
    width: 32px;
    height: 32px;
    background-color: #f7f7f7;
    &.green{
      background-color: @success;
    }
    &.blue{
      background-color: @blue;
    }
    &.yellow{
      background-color: @warning;
    }
    &.red{
      background-color: @danger;
    }
  }
}
a{
  &.itemWrapper{
    .transition();
    &.reservable{
      .box-shadow(inset 0 0 0 2px @success);
      &:hover{
        background-color: #e3ffd9;
      }
    }
    span{
      &.itemTitle{
        margin-bottom: 5px;
      }
      &.status{
        .transform(rotate(90deg));
      }
    }
    div{
      &.statusWrapper{
        &.reservable{
          background-color: @success;
          span{
            top: 47px;
            right: -5px;
          }
        }
      }
    }
  }
}
ul{
  list-style: none;
  &.breadcrumb{
    li{
      a,span{
        font-size: 14px;
        color: #fff;
        .font;
      }
    }
  }
}
table{
  &.vapcaltable{
    border: 1px solid #ccc;
    border-top: none;
    thead{
      tr{
        &:nth-child(1){
          border-top: 3px solid #707070;
          th{
            padding-bottom: 0;
            font-size: 20px;
            font-weight: 600;
          }
        }
        &:nth-child(2){
          th{}
        }
      }
    }
    tbody{
      tr{
        td{
          color: #fff;
          font-size: 14px;
          border: 1px solid #ccc;
          padding: 0;
          .font;
          a{
            color: #fff;
            text-decoration: none;
            display: block;
            font-size: 14px;
            font-weight: 400;
            padding: 12px 10px 10px;
            div{
              font-size: 18px;
              font-weight: 400;
            }
          }
          &.vaptdnoday{
            background-color: #f7f7f7;
          }
          &.vaptdgreen{
            background-color: @success;
          }
          &.vaptdselected{
            background-color: @blue;
          }
        }
      }
    }
  }
}
//UIKit Overrides
.uk-text-tiny{
  font-size: 12px;
}
.uk-text-zero{
  font-size: 0;
}
.uk-text-white{
  color: #fff;
}
.uk-text-primary{
  color: @primaryBG !important;
}
.uk-border-rounded-large{
  .border-radius(15px);
}
.uk-background-primary{
  background-color: @primaryBG;
  &.transparented{
    background-color: rgba(21, 2, 45, .97);
  }
}
.uk-background-secondary{
  background-color: #39026b;
}
.uk-background-success{
  background-color: @success;
}
.uk-background-blue{
  background-color: @blue;
}
.uk-tooltip{
  font-size: 12px;
  .font;
}
.uk-notification{
  div{
    &.uk-notification-message{
      .border-radius(5px);
      &.uk-notification-message-success{
        background-color: @success;
      }
    }
    a{
      display: none !important;
    }
    div{
      color: #fff;
      font-size: 14px;
      text-align: center;
      .font;
    }
  }
}
.uk-input{
  border-color: #242424;
  + span{
    color: #707070;
  }
  &.uk-input-icon{
    padding-left: 40px;
  }
  &:focus{
    border-color: @primary;
    + span{
      color: @primary;
    }
  }
  &.invalid{
    border-color: red;
    + span{
      color: red;
    }
    &:focus{
      border-color: red;
    }
  }
}
.uk-button{
  .font;
  border: 2px solid transparent;
  &.uk-button-primary{
    background-color: @primary;
    border-color: @primary;
    &:hover{
      background-color: #0da9e3;
      border-color: #0da9e3;
    }
  }
  &.uk-button-success{
    background-color: @success;
    color: #fff;
    &:hover{
      background-color: #2c8647;
    }
  }
}









.avatar-upload {
  position: relative;
  .avatar-preview {
    width: 80px;
    height: 80px;
    position: relative;
    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}